:root {
	// FONTS

	--space-mono: "Space Mono", monospace;
	--montserrat: "Montserrat", sans-serif;
	--inconsolata: "Inconsolata", monospace;

	// COLORS

	--dark-font-1: #333333;
	--dark-font-2: #4f4f4f;
	--light-font-2: #bdbdbd;
	--light-font-1: #ffffff;
}
